<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Flush Analytics</title>
</head>
<body style="text-align:center">
    <h1 style="text-align:center">Detailed look - signal processing</h1><br>
    <p>Initially, gate the signal to reduce the effect of noise. <br>The image above is the original signal, while
      the one below has been gated.
    </p>
    <div style="text-align:center">
      <img src="{{ url_for('static', filename='gating.png') }}">
    </div>
    <br><br>
    <p>Then, pass the signal through a high-pass filter to focus on the sharp edges of a flush.</p>
    <div style="text-align:center">
      <img src="{{ url_for('static', filename='highpass.png') }}">
    </div>
    <br><br>
    <p>The resulting signal has a much stronger relative peak at the flush, <br>which makes it easier to capture.</p>
    <div style="text-align:center">
      <img src="{{ url_for('static', filename='comparison.png') }}">
    </div>
    <br><br>
    <a href="{{ url_for('impact') }}"><h3 style="text-align:center">Impact --></h3></a>
</body>
</html> 