<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Flush Analytics</title>
  <script src="src/model/Book.js"></script>
</head>
<body>
  <h1>G-RAPHS</h1>
  <h2></h2>
  <p>This app supports the following animals:</p>
  <img src="http://animals.sandiegozoo.org/sites/default/files/2016-11/animals_hero_giraffe_1_0.jpg">
  <menu>
    <li><a href="/"><button type="button">click to go back</button></a></li>
    </menu>
  <!-- Latest compiled and minified plotly.js JavaScript -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <div id="tester" style="width:600px;height:250px;"></div>
  <script>
      var data = [
          {
              z: [[1, 20, 30], [20, 1, 60], [30, 60, 1]],
              type: 'heatmap'
          }
      ];

      Plotly.newPlot('tester', data);
  </script>
</body>
</html> 
