<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Flush Analytics</title>
  <!-- Latest compiled and minified plotly.js JavaScript -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
</head>
<body>
  <h1 style="text-align:center">Graphs</h1>
  <div id="tester" style="width:100%;height:100%;"></div>
  <script>
    var vals = {{ values|tojson }};
    
    var x_dups = vals.map(a => {
      d = new Date(a.time);
      m = d.getMinutes();
      d.setMinutes(m % 10 >= 5 ? m + (10 - (m%10)) : m - (m % 10));
      return d;
    });
    
    var x_axis1 = [];
    var y_axis1 = [];
    var last_x = new Date(2000, 01, 01);
    
    var i;
    for (i=0; i<x_dups.length; i++) {
      x = x_dups[i];
      if (x <= last_x) {
        if (x < last_x) {
          break;
        }
        y_axis1[y_axis1.length - 1] += 1;
      } else {
        y_axis1.push(1);
        x_axis1.push(x);
      }
      last_x = x;
    }
    
    var trace1 = {
      x: x_axis1,
      y: y_axis1,
      type: 'scatter',
      mode: 'line',
      line: {
        shape: 'spline',
        color: 'royalblue'
      },
      name: "men's"
    };
    
    var x_axis2 = [];
    var y_axis2 = [];
    var last_x = new Date(2000, 01, 01);
    var j;
    for (j=i; j<x_dups.length; j++) {
      x = x_dups[j];
      if (x <= last_x) {
        y_axis2[y_axis2.length - 1] += 1;
      } else {
        y_axis2.push(1);
        x_axis2.push(x);
      }
      last_x = x;
    }
    
    var trace2 = {
      x: x_axis2,
      y: y_axis2,
      type: 'scatter',
      mode: 'line',
      line: {
        shape: 'spline',
        color: 'hotpink'
      },
      name: "women's"
    };
    
    var data = [trace2, trace1];
    
    var layout = {
      title: 'Flushes over time',
      showlegend: true,
      yaxis: {
        range: [0, 8],
        type: 'linear'
      }
    };
    
    Plotly.newPlot('tester', data, layout);
  </script>
  <div id="myDiv" style="width:100%;height:100%"></div>
  <script>    
    Plotly.d3.csv('https://raw.githubusercontent.com/plotly/datasets/master/alpha_shape.csv', function(err, rows){
      function unpack(rows, key) {
        return rows.map(function(row) { return row[key]; });
      }      
      var data = [{
        x: unpack(rows, 'x'),
        y: unpack(rows, 'y'),
        z: unpack(rows, 'z'),
        mode: 'markers',
        type: 'scatter3d',
        marker: {
          color: 'rgb(23, 190, 207)',
          size: 2
        }},{
          alphahull: 7,
          opacity: 0.1,
          type: 'mesh3d',
          x: unpack(rows, 'x'),
          y: unpack(rows, 'y'),
          z: unpack(rows, 'z')
        }];
        var layout = {
          autosize: true,
          height: 480,
          scene: {
            aspectratio: {
              x: 1,
              y: 1,
              z: 1
            },
            camera: {
              center: {
                x: 0,
                y: 0,
                z: 0
              },
              eye: {
                x: 1.25,
                y: 1.25,
                z: 1.25
              },
              up: {
                x: 0,
                y: 0,
                z: 1
              }
            },
            xaxis: {
              type: 'linear',
              zeroline: false
            },
            yaxis: {
              type: 'linear',
              zeroline: false
            },
            zaxis: {
              type: 'linear',
              zeroline: false
            }
          },
          title: '3d point clustering',
          width: 477
        };
        Plotly.newPlot('myDiv', data, layout);
      });
    </script>
  </body>

  <a href="{{ url_for('info') }}"><h2>How it works -></h2></a>
</html> 
