<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Flush Analytics</title>
  <script src="src/model/Book.js"></script>
</head>
<body>
  <h1>Some Data Analysis on Flushes</h1>
  <h2></h2>
  <p>This app supports the following operations:</p>
  <img src="http://images.mentalfloss.com/sites/default/files/styles/mf_image_3x2/public/toiletseat.png?itok=mcwKm0nF&resize=1100x740">
  <menu>
    <li><button type="button">click to see graphs containing flush data</button></a></li>
    </menu>
</body>
</html> 
