<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Flush Analytics</title>
</head>
<body>
  <h1 style="text-align:center">One Flush, Two Flush</h1>
  <p style="text-align:center">...Red Flush, Blue Flush?</p>
  <a href="{{ url_for('graphs')}}">
    <img style="height:100%;width:100%" src="http://images.mentalfloss.com/sites/default/files/styles/mf_image_3x2/public/toiletseat.png?itok=mcwKm0nF&resize=1100x740">
  </a>
</body>
</html> 