<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Flush Analytics</title>
  <script src="src/model/Book.js"></script>
</head>
<body>
  <h1>LIVE flushing action!</h1>
  <h2></h2>
  <p>Go to <a href="{{ url_for('simulator') }}">the simulator</a> to contribute to the flushes!</p>
  <!-- Latest compiled and minified plotly.js JavaScript -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <div id="graph" style="width:800px;height:600px;"></div>
  <script>
    // Maybe someday this will work
  </script>
</body>
</html> 



